.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  grid-row: 4;
  position: relative;
}
.authentication {
  grid-row: 5;
  width: 100%;
  border-collapse: collapse;
  font-family: arial, sans-serif;
  position: relative;
}
.summary {
  width: 100%;
  position: relative;
  border-collapse: collapse;
  grid-row: 3;
  font-family: arial, sans-serif;
}
body {
  margin: 0;
}
td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}
#emailheader {
  left: 50%;
  transform: translateX(-50%);

  position: relative;
  grid-row: 1;
}
.submitbutton {

  grid-row: 2;
}
.divstruct {
  position: relative;
  display: grid;
  grid-template-rows: 4;
  grid-template-columns: 1;
}